.All, .tab{
    cursor: pointer;
    transition: all 0.3s ease;
}


header{background: #fff;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
position: fixed;
left: 0;
padding: 24px;
border-bottom: 1px solid #333;
right: 0;
top: 0;
z-index: 5;
}

header h1{
    font-size: 1.6em;
}

h1 span{color: #ff7600;}

.tab{
    padding: 6px;
    font-family: inherit;
    font-weight: 500;
    color: #333;
    border: none;
    border-radius: 24px;
    background: none;
}
.active{color: #ff7600;}
.tab:hover{color: #ff7600;}

.menu{display: none; cursor: pointer;}
.cart{display: flex; align-items: center;
    cursor: pointer; position: relative;}
.cart span{color: white; background: #ff7600; width: 20px; font-size: 14px; text-align: center; border-radius: 24px; position: absolute; top: -14px; left: 4px;}


@media (max-width: 568px){
    header{
        flex-direction: column;
    }

    .cart{
        position: absolute;
        left: 10px;
    }
}
